.psotContainer{
    width: 32%;
    height: 604px;
    float: left;
    padding: 1px;
    
}
.imgContiner{
    padding:20px;
}
.imgContiner>img{
    border-radius: 50%;
}
.link{
    text-decoration: none;
}